:root{
    --main-orange: #f4623a;
}

.tb_map_container{
    max-width: 90%;
    margin-inline: auto;
}

.close-2{
    background-color: white;
    outline: none;
    border: none;
}

.close-2:hover{
    font-weight: bold;
    color: var(--main-orange);
}

.lgt{
    font-size: large;
}